<html>
<head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><!-- style from bootstrap used-->
      <link rel="icon" href="./icon.png">
    <title> About </title>
    <style>
        center{
            font-family: sans-serif;
            font-weight: bolder;
        }
        body{
            background-color: lightgray;
        }
    </style>
</head>
<body>
<% if(username){ %>
    <%- include loggedNavBar.ejs%>
<% } else { %>
    <%- include unloggedNavBar.ejs%>
<%    } %>
    <center>
<div id="intro">
    <div><img src="./happy.jpg"></div><br>
    <div><p id="Main">Welcome to Ememerald! a place to find all the best memes in the world!</p></div>
</div>
        </center>
</body>

</html>