<html>
<head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="./icon" href ="./public/favicon.png">
    <title> About </title>
    <style>
        center{
            font-family: sans-serif;
            font-weight: bolder;
        }
        body{
            background-color: lightgray;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a href = "/index"> <img src="./salcy.png"  height="45px" width="45px"></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a>EMEMERALD</a></li>
        <li><a href="/index">Home</a></li>
        <li class="active"><a href="#">About</a></li>
        <li><a href="/search">Search by tags</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/sign-up">Sign up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
    <center>
<div id="intro">
    <div><img src="./happy.jpg"></div><br>
    <div><p id="Main">Welcome to Ememerald! a place to find all the best memes in the world!</p></div>
</div>
        </center>
</body>

</html>