<!DOCTYPE html>
<html lang="en">
<head>
  <title>Ememerald</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
	  #logo{
		height:45px;
		width:45px;
	  }
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
      body {
      padding-top: 50px;
    }
    
      #most-recent{
          font-size: 22px;
          margin-left: 0;
          text-align: left;
      }
      #most-liked{
          font-size: 22px;
          margin-left: 0;
          text-align: left;
      }
      #trending{
          font-size: 22px;
          margin-left: 0;
          text-align: left;
      }
      .well{
      font-size: 22px;
      border-width: 5px;  
      }
		  
      #meme{
          height: 350px;
          width: auto;
      }
      #memeblockstyle{
        border: 1px solid gray;
        padding: 5px 20px;
        background-color: whitesmoke;
      }
      #memeblockstyle h1{
        margin-left: 5px;
      }
      #memeblockstyle center{
        border-radius: 25px;
        margin-left: 5px;
        border: 1px solid lightgray;
      }
      #memeblockstyle p{
        margin-left: 5px;
      }
      center{
          padding: 25px;
      }
  </style>
</head>
<body>
    <%- include unloggedNavBar.ejs%>
    <div class="jumbotron">
        <p><strong>Sorry the page is inaccessible. Please log in <a href = '/log-in'>here</a> or <a href="javascript:history.back()">Go Back</a></strong></p>
    </div>
    



</body>
</html>
