<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="./icon.png">
    <title>Log-in</title>
    <link href="./stylesheets/Login.css" rel="stylesheet"><!-- Styles -->
    <link href="./stylesheets/signin.css" rel="stylesheet"><!-- Styles -->
  </head>

  <body>

    <div class="container">
        <center>
        <img src="./salcy.png" height="150px" width="150px">
        </center>
      <form action = '/log-in=successful' class="form-signin" method = 'post' enctype="multipart/form-data">
        <h2 class="form-signin-heading">Please login</h2>
        <label for="inputUsername" class="sr-only">Username</label>
        <input type="username" id="inputUsername" class="form-control" placeholder="Username" name = 'username' required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name = 'password' required>
        <div class="checkbox">
          <label>
            <input id="remember-signin" name="rememberMe" type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
          <input type='submit' value='Login' class = "btn btn-lg btn-primary btn-block"> <!-- class is from bootstrap-->
<!--        <a class="btn btn-lg btn-primary btn-block" href = "./index">Login</a>-->
        <a href="javascript:history.back()" class="btn btn-lg btn-secondary">Cancel login</a>
		  <p>Don't have an account? <a href ="./sign-up"><strong>Sign up here!</strong></a></p>
      </form>
    </div> <!-- /container -->
  </body>
</html>
