<html>
    <head>
    <title>Logged-out</title>
    <meta http-equiv="refresh" content="3;/" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
        <center>
            <img src= "./byebye.gif">
            <p>You have been successfully logged out! </p><br>  
            <p>You will now be redirected to the homepage. If you have not been redirected within 5 seconds, please click <a href = "./">here to manually return to the homepage</a></p>
        </center>
    </body>
</html>