    <!DOCTYPE html>
<html>
<head>
    <title>Upload a Meme!</title>
    <script src = "https://code.jquery.com/jquery-3.3.1.min.js"></script>

<link rel="icon" href="./icon.png">
    <link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.min.css" /> <!--for style-->
    <link rel="stylesheet" type="text/css" href="./stylesheets/font-awesome.min.css" /> <!--for style-->
    <style>
        h1{
            text-align: center;
        }
        #dropbox {
            border: 2px dashed;
            height: 105px;
            width: 105px;
          }
          #uploadPreview{
            position:absolute;
            width:302px;
            height:352px;
            top:-1px;
            left:-1px;
            z-index:1;
            border:none;
          }
        .dropbox {
            position:relative; 
            overflow:hidden; 
            width:300px; 
            height:350px; 
            background:#f3f3f3; 
            border:2px dashed #e8e8e8;}

        #uploadImage{
            position:absolute;
            width:300px;
            height:400px;
            top:-50px;
            z-index:2;
            cursor:pointer;
        }
        #uploadPreview2{
            position:absolute;
            width:302px;
            height:352px;
            top:-1px;
            left:-1px;
            z-index:1;
            border:none;
          }
        .dropbox2 {
            position:relative; 
            overflow:hidden; 
            width:300px; 
            height:350px; 
            background:#f3f3f3; 
            border:2px dashed #e8e8e8;}

        #uploadImage2{
            position:absolute;
            width:300px;
            height:400px;
            top:-50px;
            z-index:2;
            cursor:pointer;
        }

    </style>
    <script>
          function PreviewImage() {
          let Reader = new FileReader();
          Reader.readAsDataURL(document.getElementById("uploadImage").files[0]);
  
          Reader.onload = function (readerEvent) {
              document.getElementById("uploadPreview").src = readerEvent.target.result;
          };
      };

                function PreviewImage2() {
          let Reader = new FileReader();
          Reader.readAsDataURL(document.getElementById("uploadImage2").files[0]);
  
          Reader.onload = function (readerEvent) {
              document.getElementById("uploadPreview2").src = readerEvent.target.result;
          };
      };
      
      var imageLoader = document.getElementById('uploadImage');
    imageLoader.addEventListener('change', handleImage, false);

      var imageLoader = document.getElementById('uploadImage2');
    imageLoader.addEventListener('change', handleImage, false);

function handleImage(e) {
    var reader = new FileReader();
    reader.onload = function (event) {
            }
    reader.readAsDataURL(e.target.files[0]);
}

  </script>

</head>
<body>
<%- include loggedNavBar.ejs %>
</br>
</br>
</br>
<div class="container">
<div class="page-header">
    <h1>Upload memes to Ememerald!</h1>
</div>
<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
              <form action='/multi-uploaded-meme' enctype="multipart/form-data" method = "post" id = 'upload' name = 'upload' autocomplete="off">
                <div id="imageBorder">
                        <div id="imageContainer">
                                <div class="dropbox" onclick="$('#uploadImage').click()">
                                        <br>Click here or drag here your images
                                        <img src="" id = 'uploadPreview'/>
                                        <input type="file" name="image"  id="uploadImage" onchange = 'PreviewImage();' accept="image/*" required/>
                                    </div>
                        </div>

             
            </div>      
            <br>
            <p>Enter meme Title</p>
            <input type = 'text' name = 'memeTitle' required>
            <p>Select your tags!</p>
            <div>
                <textarea rows="2" cols="45" name = 'memeTag' form = 'upload' placeholder = 'Type your memes here separated by commas(,)'></textarea>
            </div>
            <div class="form-group">
              <label for="share">Share to users:</label>
               <input type = 'text' name = 'memeShare' id = 'memeShare' list = 'users'>
               <datalist id = 'users'>
                    <%for(let i = 0; i< data.list.length;i++){ %>
                   <option value = '<%=data.list[i].username%>'</option>
                    <%}%>
               </datalist>
            
            </div> 
            <div>
                <label class="radio-inline"><input type="radio" name="memePrivacy" value = 'Public' id = 'memePrivacy1' checked>Public</label>
                <label class="radio-inline"><input type="radio" name="memePrivacy" value = 'Private'id = 'memePrivacy2' >Private</label>
            </div>
            </br>
        </br>
    </br>
            
    <div id="imageBorder">
            <div id="imageContainer">
                    <div class="dropbox2" onclick="$('#uploadImage2').click()">
                            <br>Click here or drag here your images
                            <img src="" id = 'uploadPreview2'/>
                            <input type="file" name="image2"  id="uploadImage2" onchange = 'PreviewImage2();' accept="image/*" required/>
                        </div>
            </div>
                    <br>
                    <p>Enter meme Title</p>
                    <input type = 'text' name = 'memeTitle2' required>
                    <p>Select your tags!</p>
                    <div>
                        <textarea rows="2" cols="45" name = 'memeTag2' form = 'upload' placeholder = 'Type your memes here separated by commas(,)'></textarea>
                    </div>
                    <div class="form-group">
                    <label for="share">Share to users:</label>
                    <input type = 'text' name = 'memeShare2' id = 'memeShare2' list = 'users2'>
                    <datalist id = 'users2'>
                            <%for(let i = 0; i< data.list.length;i++){ %>
                        <option value = '<%=data.list[i].username%>'</option>
                            <%}%>
                    </datalist>
                    
                    </div> 
                    <div>
                        <label class="radio-inline"><input type="radio" name="memePrivacy2" value = 'Public'  id = 'memePrivacy3' checked>Public</label>
                        <label class="radio-inline"><input type="radio" name="memePrivacy2" value = 'Private' id = 'memePrivacy4'>Private</label>
                    </div>           
            <p style="text-align: right; margin-top: 20px;">
            <input class="btn btn-lg btn-primary btn-block" type = "submit" value='Upload Meme'>
            <a href="javascript:history.back()" class="btn btn-lg btn-secondary">Cancel Upload</a>
            </p>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>


</div>
<script src = "https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    if( document.getElementById('memePrivacy1').value == 'Public'){
        document.getElementById('memeShare').disabled = true;
    }
    document.getElementById('memePrivacy1').addEventListener("click", function(){
            document.getElementById('memeShare').value = '';
            document.getElementById('memeShare').disabled = true;
    })
    document.getElementById('memePrivacy2').addEventListener("click", function(){
            document.getElementById('memeShare').disabled = false;
            document.getElementById('memeShare').required = true;
    })

        if( document.getElementById('memePrivacy3').value == 'Public'){
        document.getElementById('memeShare2').disabled = true;
    }
    document.getElementById('memePrivacy3').addEventListener("click", function(){
            document.getElementById('memeShare2').value = '';
            document.getElementById('memeShare2').disabled = true;
    })
    document.getElementById('memePrivacy4').addEventListener("click", function(){
            document.getElementById('memeShare2').disabled = false;
            document.getElementById('memeShare2').required = true;
    })

    var imageLoader = document.getElementById('uploadImage');
    imageLoader.addEventListener('change', handleImage, false);


</script>
</body>
</html>