<html>
<head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- style from bootstrap used-->
    <link rel="icon" href="./icon.png">
    <title> Search </title>
    <style>
        #searchicon{
            height: 200px;
            margin-top: 50px;
        }
        body{
            background-color: lightgray;
        }

    </style>
</head>
<body>
<% if(username){ %>
    <%- include loggedNavBar.ejs%>
<% } else { %>
    <%- include unloggedNavBar.ejs%>
<%    } %>
   
    <center>
    <img src="./search.png" id="searchicon">
        <span>
    <form method = 'get' id = 'search' action = '/searched'>
        <br>
        <span>
                <textarea rows="2" cols="45" name = 'search' form = 'search' placeholder = 'Type your memes here separated by commas(,)'></textarea>
            </span>
        <div>
        <input type="submit" value="Search">
            </div>
    </form>
            </span>
        <br>
    <p><a href = './funny.html'>Funny</a></p>
    <p><a href = './sad.html'>Sad</a></p>
    <p><a href = './relationships.html'>Relationships</a></p>
    <p><a href = './social.html'>Social</a></p>
    <p><a href = './disgusting.html'>Disgusting</a></p>
    <p><a href = './racists.html'>Racists</a></p>
    </center>
</body>

</html>