<html>
<head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title> Search </title>
    <style>
        #searchicon{
            height: 200px;
        }
        body{
            background-color: lightgray;
        }

    </style>
</head>
<body>
<% if(username){ %>
    <%- include loggedNavBar.ejs%>
<% } else { %>
    <%- include unloggedNavBar.ejs%>
<%    } %>
   
    <center>
    <img src="./search.png" id="searchicon">
    <form>
        <span><input type="text" name="searchkey"></span>
        <span><input type="button" name="search" value="Search"></span> 
    </form>
    <p><a href = './funny.html'>Funny</a></p>
    <p><a href = './sad.html'>Sad</a></p>
    <p><a href = './relationships.html'>Relationships</a></p>
    <p><a href = './social.html'>Social</a></p>
    <p><a href = './disgusting.html'>Disgusting</a></p>
    <p><a href = './racists.html'>Racists</a></p>
    </center>
</body>

</html>