<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="./icon.png">
    <title>Sign-Up</title>
      <style>
          html{
              background-color: palegreen;
          }
          #shortBio{
              margin-top:-9.5px;
          }
      </style>
    <link href="./stylesheets/Login.css" rel="stylesheet"> <!--used for bootstrap design-->
    <link href="./stylesheets/signin.css" rel="stylesheet"> <!--used for bootstrap design-->
    <script>
      function PreviewImage() {
          var Reader = new FileReader();
          Reader.readAsDataURL(document.getElementById("uploadImage").files[0]);
  
          Reader.onload = function (readerEvent) {
              document.getElementById("uploadPreview").src = readerEvent.target.result;
          };
      };
  </script>
  </head>

  <body>

    <div class="container">
        <center>
        <img src="./salcy.png" height="150px" width="150px">
        </center>
      <form action='/signed-up'class="form-signin" enctype="multipart/form-data" method = "post" id = 'form 1' runat = 'server'>
        <h2 class="form-signin-heading">Please sign up</h2>
        <img id="uploadPreview" style="width: 100px; height: 100px;" />
        <input id="uploadImage" type="file" onchange="PreviewImage();" name = 'image'/>
        <label for="inputEmail" class="sr-only">Username</label>
        <input type="text" id="username" class="form-control" placeholder="Username" name = 'username' required autofocus >
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name = 'emailAddress' required autofocus >
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name = 'password' required>
        <label for="shortBio" class="sr-only">Short Bio</label>
        <input type="text" id="shortBio" class="form-control" placeholder="Short bio" name = 'shortBio'>
        <input class="btn btn-lg btn-primary btn-block" type = "submit" value='Sign up'>
        <a href="javascript:history.back()" class="btn btn-lg btn-secondary">Cancel sign up</a>
        <p>Already have an account? <a href ="/log-in"><strong>Login here!</strong></a></p>
      </form>

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
