    <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bootstrap Upload Control Template | PrepBootstrap</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="./bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="./font-awesome.min.css" />
    <style>
        h1{
            text-align: center;
        }
        #share{
            height:30px;
        }
    </style>
</head>
<body>

<div class="container">

<div class="page-header">
    <h1>Upload a meme to Ememerald!</h1>
</div>

<!-- Bootstrap Upload Control - START -->
<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
              <form action='/uploaded-meme' enctype="multipart/form-data" method = "post">
            <input type="file" id="image" name="image"/>
            <br>
            <p>Enter meme Title</p>
            <input type = 'text' name = 'memeTitle'>
            <p>Select your tags!</p>
            <div>
            <label class="checkbox-inline"><input type="checkbox" value="Funny" name = 'memeTag'>Funny </label>
            <label class="checkbox-inline"><input type="checkbox" value="Sad" name = 'memeTag'>Sad </label>
            <label class="checkbox-inline"><input type="checkbox" value="Relationships" name = 'memeTag'>Relationships </label> 
            </div>
            <div>
            <label class="checkbox-inline"><input type="checkbox" value="Social" name = 'memeTag'>Social </label>
            <label class="checkbox-inline"><input type="checkbox" value="Disgusting" name = 'memeTag'>Disgusting </label>
            <label class="checkbox-inline"><input type="checkbox" value="Racists" name = 'memeTag'>Racists </label> 
            <input type = 'text' name = 'memeTag'>
            </div>
            <div class="form-group">
              <label for="share">Share to users:</label>
               <input type = 'text' name = 'memeShare'>
            </div> 
            <div>
                <label class="radio-inline"><input type="radio" name="memePrivacy" value = 'Public'>Public</label>
                <label class="radio-inline"><input type="radio" name="memePrivacy" value = 'Private'>Private</label>
            </div>
            <p style="text-align: right; margin-top: 20px;">
            <input class="btn btn-lg btn-primary btn-block" type = "submit" value='Upload Meme'>
            <a href="javascript:history.back()" class="btn btn-lg btn-secondary">Cancel Upload</a>
            </p>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>


</div>

</body>
</html>