    <!DOCTYPE html>
<html>
<head>
    <title>Upload a Meme!</title>
<link rel="icon" href="./icon.png">
    <link rel="stylesheet" type="text/css" href="./stylesheets/bootstrap.min.css" /> <!--for style-->
    <link rel="stylesheet" type="text/css" href="./stylesheets/font-awesome.min.css" /> <!--for style-->
    <style>
        h1{
            text-align: center;
        }
        #dropbox {
            border: 2px dashed;
            height: 105px;
            width: 105px;
          }
          #uploadPreview{
            align-content: center;
            width: 100px; 
            height: 100px;
          }
    </style>
    <script>
          function PreviewImage() {
          let Reader = new FileReader();
          Reader.readAsDataURL(document.getElementById("uploadImage").files[0]);
  
          Reader.onload = function (readerEvent) {
              document.getElementById("uploadPreview").src = readerEvent.target.result;
          };
      };
  </script>

</head>
<body>
<%- include loggedNavBar.ejs %>
</br>
</br>
</br>
<div class="container">
<div class="page-header">
    <h1>Upload a meme to Ememerald!</h1>
</div>

<!-- Bootstrap Upload Control - START -->
<div class="container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
              <form action='/uploaded-meme' enctype="multipart/form-data" method = "post" id = 'upload'>
                <div id="imageBorder">
                        <div id="imageContainer">
                          <div id="dropbox">
                           <img id="uploadPreview" />
                          </div>
                        </div>
                    </div>  
                <input id="uploadImage" type="file" onchange="PreviewImage();" name = 'image' accept="image/*"/>       
            <br>
            <p>Enter meme Title</p>
            <input type = 'text' name = 'memeTitle'>
            <p>Select your tags!</p>
            <div>
                <textarea rows="2" cols="45" name = 'memeTag' form = 'upload' placeholder = 'Type your memes here separated by commas(,)'></textarea>
            </div>
            <div class="form-group">
              <label for="share">Share to users:</label>
               <input type = 'text' name = 'memeShare'>
            </div> 
            <div>
                <label class="radio-inline"><input type="radio" name="memePrivacy" value = 'Public'>Public</label>
                <label class="radio-inline"><input type="radio" name="memePrivacy" value = 'Private'>Private</label>
            </div>
            <p style="text-align: right; margin-top: 20px;">
            <input class="btn btn-lg btn-primary btn-block" type = "submit" value='Upload Meme'>
            <a href="javascript:history.back()" class="btn btn-lg btn-secondary">Cancel Upload</a>
            </p>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>


</div>

</body>
</html>