    <html>
<head>
<meta http-equiv="refresh" content="3;/" />
</head>

<body>
	<center>
        <p>You have successfuly uploaded a meme!</p><br>
		<p>You will now be redirected to the meme page. If you have not been redirected within 5 seconds, please click <a href = "/">here to manually return to the meme page</a></p>
	</center>

		</body>


</html>